<div class="container">
  <div class="row">

    <h1>All Lists</h1>

    <form id="idx-form" action="/lists" method="post">
      <input id="_method" name="_method" type="hidden" value="post">

    <table class="table table-hover">
      <thead><tr><th>Name</th></tr>
      <!-- <tfoot><tr><td colspan=2><button type="button"><a href="/lists/new">Add New</a></button>
        </td></tr></tfoot> -->
      <tbody>
      <% @lists.each do |list| %>
      <tr><td><a href="/lists/<%= list.id %>/edit"><%= list.name %></a></td>
        <td align="right">
          <button type="button" id="btn-delete-list-<%= list.id %>" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
          </td><tr>
      <% end %>
    </tbody>
    </table>

    <h3>New List</h3>
    <% if @list != nil && @list.errors.any? %>
    <h4>Please fix these errors:</h4>
    <ul>
      <% @list.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>

      <label for="list_name">Name</label>
      <input id="list_name" name="name" type="text">
      <button class="btn btn-primary" type="button" id="btn-create-list">Create List</button>
    </form>
  </div>
</div>
